{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>{% block title %}Моё резюме{% endblock %}</title>
	<link href="{% static "css/main.css" %}" rel="stylesheet">
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:700,400,600,200" media="all">
	<!-- <script type="text/javascript" src="{% static "js/jquery.min.js" %}"></script> -->
	<!-- <script type="text/javascript" src="{% static "js/main.js" %}"></script> -->
	<meta name="viewport" content="width=device-width, initial-scale=1">

</head>
<body>
	
		<div class="main-block">{% block content %}{% endblock %}</div>
</body>
</html>